<div class="mainNotes mainNotes_borderTop_none">
  <p class="mainNotes__title">Aircraft Notes:</p>
  <form action="" class="mainNotes__form">
    <textarea name="name" rows="2" placeholder="Press enter to poste note..."></textarea>

    <button type="submit" name="button">
      <div>
        <svg xmlns:svg="http://www.w3.org/2000/svg" viewBox="0 -31 512 450" version="1.1" width="512" height="450">
          <path d="M 123.19531,229.73828 186.875,388.92578 269.77734,306.02344 411.91797,419 512,-31 0,182.26562 Z m 242.5,-131.6289 -156.71484,142.9414 -19.51953,73.56641 -36.0586,-90.16407 z m 0,0" id="path2" style="fill:#6699ea;fill-opacity:1"/>
        </svg>

      </div>
    </button>
  </form>
  <div class="notes">
    <div class="notes__singleNote">
      <p class="notes__noteHead">mm/dd/yy by Cris S</p>
      <div class="notes__noteText">Broker willing to take in the low 1's</div>
    </div>
    <div class="notes__singleNote">
      <p class="notes__noteHead">mm/dd/yy by Cris S</p>
      <div class="notes__noteText">Broker willing to take in the low 1's</div>
    </div>
    <div class="notes__singleNote">
      <p class="notes__noteHead">mm/dd/yy by Cris S</p>
      <div class="notes__noteText">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </div>
    </div>
    <div class="notes__singleNote">
      <p class="notes__noteHead">mm/dd/yy by Cris S</p>
      <div class="notes__noteText">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </div>
    </div>
  </div>
</div>
