<div class="mainStats mainStats_borderTop_none">
  <table class="mainStats__table">
    <tr>
      <td class="mainStats__tableTitle">Fair Market Value:</td>
      <td class="tableLabel tableLabel_bold">$955,500</td>
    </tr>
    <tr>
      <td class="mainStats__tableTitle">Status:</td>
      <td class="tableLabel tableLabel_bold tableLabel_green">For Sale</td>
    </tr>
    <tr>
      <td class="mainStats__tableTitle">Days on Market:</td>
      <td class="tableLabel">50</td>
    </tr>
    <tr>
      <td class="mainStats__tableTitle">Ask Price:</td>
      <td class="tableLabel tableLabel_bold">$955,500 <span class="tableLabel_up">11%</span></td>
    </tr>
    <tr>
      <td class="mainStats__tableTitle">Take Price:</td>
      <td class="tableLabel tableLabel_bold">$955,500 <span class="tableLabel_down">11%</span></td>
    </tr>
    <tr>
      <td class="mainStats__tableTitle">Brokerage:</td>
      <td class="tableLabel">AvPro</td>
    </tr>
    <tr>
      <td class="mainStats__tableTitle">Damage:</td>
      <td class="tableLabel">Low <span class="tableLabel_right"></td>
    </tr>
    <tr>
      <td class="mainStats__tableTitle">Pedigree:</td>
      <td class="tableLabel">Medium</td>
    </tr>
    <tr>
      <td class="mainStats__tableTitle">Next Inspection:</td>
      <td><span class="label label_red">mm/dd/yy</span></td>
    </tr>
    <tr>
      <td class="mainStats__tableTitle"></td>
      <td class="tableLabel tableLabel_bold">Inspection Type</td>
    </tr>
  </table>
</div>
