<div class="mainColumn">
  <div class="mainColumn__arrow">
    <span id="mainColumnArrowButton" class="mainColumn__arrowButton">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="199.404px" height="199.404px" viewBox="0 0 199.404 199.404" fill="#d4dfe8">
       <polygon points="135.412,0 35.709,99.702 135.412,199.404 163.695,171.119 92.277,99.702 163.695,28.285 	"/>
      </svg>
    </span>
  </div>
  {% include "blocks/mainHeading.html" %}
  {% include "blocks/mainStats.html" %}
  {% include "blocks/mainNotes.html" %}
</div>
