<div class="table">
  <div class="table__head">
    <div class="table__itemContainer">
      <label class="table__label" for="period">Period</label>
      <select class="table__select" name="period" placeholder="Select">
        <option value="">3 Months</option>
        <option value="">6 Months</option>
        <option value="">1 Year</option>
        <option value="">Custom</option>
      </select>
    </div>
    <div class="table__itemContainer">
      <label class="table__label" for="fieldName">Field Name</label>
      <input class="table__input" type="text" name="fieldName" value="" placeholder="Start typing...">
    </div>
    <button class="table__button" type="button" name="button">Apply</button>
  </div>
  <table class="table__data">
    <tr>
      <th>Date</th>
      <th>Updated By</th>
      <th>Field Name</th>
      <th>Previous Value</th>
      <th>New Value</th>
    </tr>
    <tr>
      <td>mm/dd/yy</td>
      <td>Name</td>
      <td>Field Name</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>mm/dd/yy</td>
      <td>Name</td>
      <td>Field Name</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>mm/dd/yy</td>
      <td>Name</td>
      <td>Field Name</td>
      <td></td>
      <td></td>
    </tr>
  </table>
</div>
