<div class="tabsColumn">
  <div class="tabs" id="tabs">
     <ul class="tabs__switcher">
       <li class="tabs__swithc"><a href="#tabs-1">Overview</a></li>
       <li class="tabs__swithc"><a href="#tabs-2">Maintenance</a></li>
       <li class="tabs__swithc"><a href="#tabs-3">Transactions</a></li>
       <li class="tabs__swithc"><a href="#tabs-4">Utilization</a></li>
       <li class="tabs__swithc"><a href="#tabs-5">History</a></li>
     </ul>
     <div id="tabs-1" class="tabs__content">Overview content</div>
     <div id="tabs-2" class="tabs__content">Maintenance content</div>
     <div id="tabs-3" class="tabs__content">Transactions content</div>
     <div id="tabs-4" class="tabs__content">Utilization content</div>
     <div id="tabs-5" class="tabs__content">
       {% include "blocks/table.html" %}
     </div>
   </div>
</div>
