<!DOCTYPE html>
<html lang="uk">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Title</title>
      <link rel="icon" href="img/favicon.ico"/>

      <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
      <link href="libs/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet">
      <link rel="stylesheet" href="css/style.css">
      <!-- <link rel="stylesheet" href="css/style.min.css"> -->
   </head>

   <body>
      {% block content %}
      {% endblock %}
      <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script src="libs/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
      <script type="text/javascript" src="js/main.js"></script>
      <!-- <script type="text/javascript" src="js/main.min.js"></script> -->
   </body>

</html>
