$white: #ffffff;
$black: #272c30;
$gray: #bdc2c8;
$gray-blue: #90a4ae;
$navy-blue: #263649;
$light-navy-blue: #2e4157;
$dark-blue: #7e9eb9;
$blue: #6699ea;
$light-blue: #f1f6ff;
$green: #70c756;
$red: #ed4e67;
$light-red: #fce5e8;